extends layout

block content
    h1= title
    a(href='/') Voltar
    p
        strong NIPC:
        span= entidade.NIPC
    p
        strong Nome:
        span= entidade.Nome
    table
        thead
            tr
                th idcontrato
                th objectoContrato
                th dataCelebracaoContrato
                th precoContratual
        tbody
            each contrato in contratos
                tr
                    td
                        a(href='/'+contrato._id)= contrato._id
                    td= contrato.objectoContrato
                    td= contrato.dataCelebracaoContrato
                    td= contrato.precoContratual
    p
        strong Somatório do valor dos contratos:
        span= somatorio
