extends layout

block content
    h1= title
    table
        thead
            tr
                th idcontrato
                th objectoContrato
                th dataCelebracaoContrato
                th precoContratual
                th NIPC_entidade_comunicante
                th entidade_comunicante
        tbody
            // O campo idcontrato dever치 ser um link para a p치gina do contrato com esse identificador;
            // O campo NIPC_entidade_comunicante dever치 ser um link para a p치gina dessa entidade.

            each contrato in contratos
                tr
                    td
                        a(href='/'+contrato._id)= contrato._id
                    td= contrato.objectoContrato
                    td= contrato.dataCelebracaoContrato
                    td= contrato.precoContratual
                    td
                        a(href='/entidades/'+contrato.NIPC_entidade_comunicante)= contrato.NIPC_entidade_comunicante
                    td= contrato.entidade_comunicante
